html {
	font-family: 'Candal', sans-serif;
	overflow: hidden;
  }
  body {
	/* margin-top: -20px; */
	font-size:100%;
  }
  textarea {
	font-size: 25px;
	color: #424242;
	width: 90%;
	height: 85vh;
	border: none;
	outline: none;
	padding-left: 5%;
	padding-top: 1%;
	padding-right: 5%;
	/* margin-top:42px; */
	resize: none;
  }
 /* .title-note {
  	height: 40px;
  	font-size: 25px;
	color: #424242;
	width: 90%;
	border: none;
	outline: none;
	margin-left: 5%;
	border-bottom: 1px solid #6e6e6e; 
  } */
  .title {
  	margin-left: 5%;
  	width: 50%;
  	font-size: 25px;
  	color: #424242;
  }
  h3 {
  	font-size: 18px;
  	padding: auto;
  }

  .header {
  	height:35px;
  	background-color: #ffffff;
  	color: #fafafa;
  }
	a {
		text-decoration: none;
		color: #0D47A1;
		font-size: 15px;
	}
	a.ftr {
		padding-right:10px;
		font-size: 13px;
		color: #757575;
	}
	a.abt {
		color:#263238;
		float:right;
		margin-right:5%;
		border-radius:5px;
		padding:5px;
		border:1px solid #fafafa;
	}
.subheader {
	height: 40px;
	border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
	background-color: #EEEEEE;
	color: #424242;
	width: 100%;
}
.shwmsg {
	margin: 10px;
    	margin-left: 5%;
	float:left;
}
.dwnld {
	float:right;
	margin: 7px;
    	margin-right: 5%;
}

.sndbtn {
	    border: none;
	    background: transparent;
	    color: #424242;
	    border-radius: 5px;
	    padding: 5px;
	    font-size: 15px;
}

.sndbtn:hover {
	    cursor: pointer;
}
.downloadbtn {
	color: #424242;
}
